.menu {
    border: 1px solid #a0a0a0;
    h3 {
        text-align: center;
        border-bottom: 1px solid #a0a0a0;
        color: #6ec9ff;
        margin: 0;
        padding: 0.5rem;
    }
    .menu-nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .nav-item {
            width: 100%;
            text-decoration: none;
            padding: 0.5rem 1rem;
            color: #222;
            &:hover, &.active {
                background-color: #025a92;
                color: #FFF;
            }
        }
    }

}