.paginator {
    display: flex;
    justify-content: center;
    gap: 1rem;
    .btn {
        padding: 0.5rem 2rem;
        color: #FFF;
        &.btn-prev {
            background-color: #0372b8;
        }
        &.btn-next {
            background-color: #025a92;
        }
    }
}