<div class="dash">
    <div class="content-main">
        <app-menu-nav></app-menu-nav>
        <div class="the-content">
            <h1>Actividad</h1>
            <p>¿Cuál de los siguientes elementos pertenece a la estructura básica de un documento HTML?</p>
            <div class="options">
                @for (question of optionsQuestions; track question.id) {
                    <app-choice-question [question]="question" (selectedOption)="onOptionSelected($event)"></app-choice-question>
                }
            </div>
            @if (selected) {
                @if (isCorrect) {
                    <p class="answer correct-answer">¡Correcto! 🎉</p>
                } @else {
                    <p class="answer wrong-answer">Incorrecto, intenta otra vez.</p>
                }
            }
        </div>
    </div>
</div>
