/* You can add global styles to this file, and also import other style files */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

.the-content {
    border: 1px solid #a0a0a0;
    padding: 2rem;
}

@media(min-width: 1200px) {
    .content-main {
        display: flex;
        justify-content: space-between;
    }
}