<div class="dash">
    <div class="content-main">
        <app-menu-nav></app-menu-nav>
        <div class="the-content">
            <h1>Objetivos</h1>
            <ul>
                <li>Comprender la estructura básica de un documento HTML</li>
                <li>Dominar el uso de etiquetas semánticas</li>
                <li>Insertar y manipular contenido multimedia y enlaces</li>
                <li>Crear y estructurar formularios</li>
                <li>Aplicar buenas prácticas de accesibilidad web</li>
            </ul>
        </div>
    </div>
</div>